.col {
    background-color: rgba(213, 233, 243, 0.352);
    margin-top: 3rem;
    border-radius: 4px;
    width: 350px;
    padding-bottom: 5px;
    margin-bottom: 35px;
    margin-left: 5px;
}

.fld {
    /* border: 1px solid; */
    width: 250px;
    height: 35px;
    border-radius: 6px;
}

.bd{
    background-image: url(/public/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* width: 100vw; */
}

.frbt {
    background-color: rgba(226, 175, 174, 0.74);
}
.frbt:hover{
    background-color: rgb(255, 177, 167);
}

.anim-text {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animtext 4s steps(80, end)infinite;
    animation-delay: 5s;
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes animtext {
    from {
        width: 0;
        transition: all 2s ease-in-out;
    }
}